<html>
<footer>
    <div class="container">
         <center>
          <p style="color: white;"> 
             © 2021 DisPurge | Made By <a href="https://toxicdev.me">Toxic Dev</a>
           </p>
          </center>
        </div>​
  </footer>
</html>
