<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CTV6KWM16M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-CTV6KWM16M');
</script>
    <meta charset="UTF-8">
    <meta name="og:description" content="CDN Storage for Infinity Bot List." />
    <meta name="og:image" content="/images/svg/InfinityBotsLogo.svg" />
    <meta name="og:title" content="IBL CDN" />
    <meta name="theme-color" content="#181944" />
    <meta name="keywords" content="discord moderation , dmod.gg">
    <meta property="og:description" content="CDN Storage for Infinity Bot List." />
    <meta name="og:image" content="/images/svg/InfinityBotsLogo.svg" />
    <meta name="theme-color" content="#181944" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script src="https://kit.fontawesome.com/22859885a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/components.css" />
    <link rel="stylesheet" href="/static/css/preview.css" />

    <div class="nav-container">
      <img src="/images/svg/InfinityBotsLogo.svg" style="text-align: center; display: block;" width="100px" height="100px">
      <div class="topnav">
        <a style="font-size: 20px" href="https://cordx.wtf"><i class="fa fa-house"></i> Home</a>
        <a style="font-size: 20px" href="https://cordx.wtf/discord"><i class="fab fa-discord"></i> Discord</a>
      </div>
    </div>
    <br><br>
</head>
</html>
