<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
    <meta name="og:description" content="CDN Storage for Infinity Bot List." />
    <meta name="og:image" content="/images/svg/InfinityBotsLogo.svg" />
    <meta name="og:title" content="IBL CDN | 500" />
    <meta name="theme-color" content="#181944" />
    <meta name="keywords" content="discord moderation , dmod.gg">
    <meta property="og:description" content="CDN Storage for Infinity Bot List." />
    <meta name="og:image" content="/images/svg/InfinityBotsLogo.svg" />
    <meta name="theme-color" content="#181944" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <title>IBL CDN | 500</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="icon" href="/images/Untitled_design-2-removebg-preview.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script src="https://kit.fontawesome.com/22859885a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/components.css" />
    <link rel="stylesheet" href="/static/css/preview.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CTV6KWM16M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CTV6KWM16M');
    </script>
  </head>

  <!-- START THE PAGE BODY-->
<body>
<center>
  <br><br><br><br><br>
    <h1 class="links_card_descrip">500 - Internal Error.</h1>
      <br>
    <p class="links_card_info">Hmm, Something went seriously wrong here chief, Please report this along with a description of what you were doing to recieve it to my Dev Team!</p>
      <br><br>
    <a href="https://infinitybots.xyz" class="viewbutton" style="color: white; border-radius: 20px;"><i class="fas fa-home"></i> Go Home</a>
    <a href="https://infinitybots.xyz/discord" class="viewbutton" style="color: white; border-radius: 20px;"><i class="fab fa-discord"></i> Contact Us</a>
  </center>
  </body>
</html>
